In [1]:
%load_ext autoreload

In [2]:
%autoreload 2

In [3]:
import sys
sys.path.append('..')
import src.text as text
from src.text import tokenizer
from src.data import util

import pandas as pd

In [6]:
df = pd.read_csv('../dataset/bibles_90_lcm.csv', index_col=0)

In [7]:
df.head(5)

,chapter,language,language_wals_code,verse_number,text
book,,,,,
ROM,1,ANCIENT_GREEK,[grc],1,"Παῦλος δοῦλος Χριστοῦ Ἰησοῦ, κλητὸς ἀπόστολος,..."
ROM,1,APALAÍ,apl,1,Ynymerohpyry moro onenerykõme Roma põkomo. Ywy...
ROM,1,APURINÃ,apu,1,Nota Paoro iokanatsopata hĩtemoni. Xesosi Kris...
ROM,1,ASHENINKA,cax,1,"Naaka Pablo osankenatzimirori, rimperatanewo J..."
ROM,1,ENGLISH,eng,1,"From Paul, a slave of Christ Jesus, called to ..."

In [8]:
d = util.by_field(df, 'language')

In [9]:
d['ANCIENT_GREEK'].columns

Index(['chapter', 'language_wals_code', 'verse_number', 'text'], dtype='object')

In [10]:
len(d['ANCIENT_GREEK'])

7159

In [9]:
len(d['ENGLISH'])

7942

In [10]:
d['ENGLISH'].columns

Index(['book', 'chapter', 'language_wals_code', 'versicle_number', 'text'], dtype='object')

In [11]:
util.lcm(df)

     book  chapter  versicle_number
0     MAT        1               18
1     MAT        1               19
2     MAT        1               20
3     MAT        1               21
4     MAT        2                3
...   ...      ...              ...
2580  REV       22               15
2581  REV       22               16
2582  REV       22               17
2583  REV       22               20
2584  REV       22               21

[2585 rows x 3 columns]

In [12]:
all_verses = util.lcm_with_cut(df, 0.9)

In [13]:
all_verses

['TUYÚCA',
 'MATSÉS',
 'MACUSHI',
 'NADEB',
 'WAPISHANA',
 'MAXAKALI',
 'GUARANI_EASTERN_BOLIVIAN',
 'GUARANI_WESTERN_BOLIVIAN',
 'APALAÍ',
 'KAIGANG',
 'GUARANI_PARAGUAY',
 'JAMAMADI',
 'YANOMAMI',
 'PALIKÚR',
 'ANCIENT_GREEK',
 'ENGLISH',
 'SPANISH',
 'APURINÃ',
 'ASHENINKA',
 'FRENCH',
 'GUARANI_MBYA',
 'GERMANY',
 'PARECÍS',
 'PORTUGUESE',
 'TERÊNA',
 'NHEENGATU',
 'SATERÉ-MAWÉ']

In [14]:
s = util.lcm_with_cut(df, 0.9)

In [16]:
r = util.intersection(df[df['language'].isin(s)])

In [17]:
len(r) / len(r['language'].unique())

7159.0